body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size: 18px;
    margin: 5px 20px;
    font-weight: normal;
    text-align: left; /* Align name to the left */
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
}

section {
    padding: 20px;
}
