body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;
}

.site-title {
    margin: 5px 0;
    font-size: 20px; /* Reduced size */
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 5px 0; /* Reduced space */
    display: flex;
    justify-content: center;
    background: darkgray;
    padding: 5px;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px; /* Proportionally smaller */
    font-weight: bold;
}

